// Font Styles
$slab-serif: "Habibi","Helvetica Neue","Helvetica","Arial",sans-serif;
$serif: "Georgia","Times New Roman",serif;
$sans-serif: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;

// Media Queries
$handheld-screen: emCalc(480px);
$tablet-screen: emCalc(900px);

$handheld: "only screen and (min-width:"#{$handheld-screen}")";
$tablet: "only screen and (min-width:"#{$tablet-screen}")";



// Setup
@import "components/normalize";
@import "components/base";
@import "components/grid";

// Theme Styling
@import "components/header";
@import "components/content";
@import "components/cards";
@import "components/contact";