//
// CONTACT FORM 
//
//--------------------------------------------------
// { Mobile First }

.wufoo {

	.info h2  {
	    font-size: 1.8em;
	    font-weight: normal;
	    line-height: 120%;
	    margin-top: 10px;
	}

}