//
// LAYOUT GRID
//
//--------------------------------------------------
// { Mobile First }

.unit,
.size1of1,
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5,
.lastUnit {
    float: none;
    width: auto;
}


//
// Responsive States - Tablet
//--------------------------------------------------
@media only screen and (min-width: 600px) {


}


//
// Responsive States - Desktop
//--------------------------------------------------
@media only screen and (min-width: 900px) {



.line:after {
    clear: both;
    content: ".";
    display: inline-block;
    height: 0;
    visibility: hidden;
}
.lastUnit:after {
    clear: both;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    display: block;
    height: 0 !important;
    line-height: 0;
    visibility: hidden;
}
.line {
}
.unit {
    float: left;
}
.size1of1 {
    float: none;
}
.size1of2 {
    width: 50%;
}
.size1of3 {
    width: 33.3333%;
}
.size2of3 {
    width: 66.6667%;
}
.size1of4 {
    width: 25%;
}
.size3of4 {
    width: 75%;
}
.size1of5 {
    width: 20%;
}
.size2of5 {
    width: 40%;
}
.size3of5 {
    width: 60%;
}
.size4of5 {
    width: 80%;
}
.lastUnit {
    display: table-cell;
    float: none;
    width: auto;
}


}//end repsonsive min-480px

