//
// HEADER 
//
//--------------------------------------------------
// { Mobile First }


header {
	background: #709454 url(../img/bg-header.png) top left no-repeat;
	padding: 40px 5% 20px 5%;
	box-shadow: 2px 2px 2px #DDDDDD;


	// Branding
	h1 {
		display: block;
		margin: 0 auto;
		font-family: Roboto, sans-serif;
		font-size: 3em;
		font-weight: 100;
		color: #ffffff;
		margin-bottom: 50px;
		text-align: center;
		text-transform: uppercase;
		span.subbranding {
			display: block;
    		font-size: 63%;
    		line-height: 100%;
    		margin-top: -5px;
		}
	}

	// Navigation
	nav ul {
		margin-left: 0px;
		padding-left: 0px;
	}
	nav ul li {	
		margin-bottom: 15px;
		a {
			color: #333333;
			font-family: Roboto, sans-serif;
			padding: 15px;
			display: block;	
			text-transform: uppercase;
			border-radius: 5px;
			font-size: 90%;
			text-decoration: none;
			background-color: #FFFFFF;
			opacity:0.8;
		}
		a:hover, a:active {
			opacity:1;
		}
	}

}

//
// Responsive States - Desktop
//--------------------------------------------------
@media only screen and (min-width: 600px) {
	header {	
		margin: 0px;
		max-width: 25%;
		min-height: 100%; 
		float: left;  
	}
	header h1 {
		font-size: 2.2em;
	}
}

