html(lang="en")
	head
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,400italic', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
		title Meadowside at Norbeck Manor HOA

	body
		header
			h1.branding Meadowside 
				span.subbranding at Norbeck Manor
			nav
				ul
					li: a(href="index.html") Hello from Meadowside
					li: a(href="forms.html")  Forms &amp; Documents
					li: a(href="boards.html")  Community (NextDoor)
					li: a(href="resources.html")  Frequently Asked Questions
					li: a(href="contact.html") Connect with Us

		div#content			
			block content

		
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script
			$("h1").on("click", function() {
			$("p").toggle();
			});
		block scripts	