extend base

block head
	title Community at Meadowside at Norbeck Manor HOA

block content
	h2 Community at Meadowside

	article.nometa	
		p This website you are on is the public-facing site for Meadowsie at Norbeck Manor, a community of homes in Rockville, Maryland. For privacy and security, the community site is password-protected on a website called NextDoor. 

		p If you are a homeowner in the Meadowside community, lick the link below to join the community website at NextDoor.

	div#cards.line

		section.unit.size1of1: a(href="ro.blet.to/HOAwebsite") 
			h4 Click here to join Meadowside on
			img.nextdoor(src="img/nextdoor.png")
