extend base

block head
	title Forms and Documents for Meadowside at Norbeck Manor HOA

block content
	h2 Forms and Documents

	article.nometa	

		p These are the publicly facing forms and documents related to the Meadowside HOA. If you are looking for a form that is not here, you can try looking for it in 
			a(href="ro.ble.to/HOAwebsite") NextDoor
			|  or 
			a(href="contact.html") contact us
			.

	div#cards.line

		h3 Most Requested

		section.unit.size1of3: a(href="#") 
			h4.word 2013 Annual Meeting Proxy Vote
			small Fill in this form and submit your vote for new HOA Board members if you can not attend the 2013 meeting

		section.unit.size1of3: a(href="#") 
			h4.word Architectural Review Document
			small Print this out, attach your documentation and get the necessary signatures to have an architectural change to your home

