extend base

block head
	title Meadowside at Norbeck Manor HOA

block content
	h2 Hello from Meadowside

	article.nometa


		p This website you are on is the public-facing site for Meadowsie at Norbeck Manor, a  community of homes in Rockville, Maryland. There are four parts to this public-facing website:

	div#cards.line

		section.unit.size1of2: a(href="forms.html") 
			h1: i.fa.fa-file-text-o 
			h4 Forms &amp; Documents 
			small Proxy voting, architectual review and other forms commonly requested.

		section.unit.size1of2.lastUnit: a(href="boards.html") 
			h1: i.fa.fa-comments-o
			h4 Community (NextDoor)
			small Homeowners are encouraged to interact on our Community website on NextDoor. Here's more info and how to join.

	div#cards.line

		section.unit.size1of2: a(href="resources.html") 
			h1: i.fa.fa-question-circle
			h4 Frequently Asked Questions
			small Common questions that are asked of the HOA. Anything from selling your home to how to get a streetlight repaired.

		section.unit.size1of2.lastUnit: a(href="contact.html") 
			h1: i.fa.fa-envelope
			h4 Connect With Us
			small Contact forms for joining the email list or to contact the HOA Board.

